<ion-content overflow-scroll="false" class="cards-init">
  <a ui-sref="app.mystery">
    <div class="card card-multi-mystery">
      <div class="item item-text-wrap mystery-img"></div>
    </div>
  </a>
  <a ui-sref="app.multi">
    <div class="card card-multi-mystery">
      <div class="item item-text-wrap multi-img"></div>
    </div>
  </a>
</ion-content>
