<ion-header-bar class="bar-stable" ng-style="{'background-color': viewColor}">
  <h1 class="title">{{ topTitle }}</h1>
  <a ng-show="is_mystery" ui-sref="app.mystery" class="button button-clear header-btn-type"><img class="header-btn-mystery" src="img/mystery_header_btn.svg"/></a>
  <a ng-show="is_multi" ui-sref="app.multi" class="button button-clear header-btn-type"><img class="header-btn-multi" src="img/multi_header_btn.svg"/></a>
  <a ng-show="is_back_multi" ui-sref="app.multi" class="button button-clear header-btn-type-back"><img class="header-btn-back-multi" src="img/back_header_btn.svg"/></a>
  <a ng-show="is_back_mystery" ui-sref="app.mystery" class="button button-clear header-btn-type-back"><img class="header-btn-back-mystery" src="img/back_header_btn.svg"/></a>
  <a ng-show="not_home" ui-sref="app.init" class="button button-clear"><img class="header-btn-home" src="img/home_header_btn.svg"/></a>

</ion-header-bar>
<ion-nav-view name="mainContent"></ion-nav-view>

