<ion-header-bar class="bar-stable" ng-style="{'background-color': viewColor}">
  <h1 class="title">{{ topTitle }}</h1>
</ion-header-bar>
<div class="list list-inset header-top">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Procurar" ng-model="searchText">
  </label>
</div>
<ion-content overflow-scroll="false" class="header-search-top">
  <ul class="list">
    <li class="item" ng-repeat="multi in all_multi" ng-show="([multi] | filter:searchText).length > 0"
        ng-click="gcGo($index, 'multi')">
      <div><span class="gc">{{multi.gc}}</span> - {{multi.nome}}</div>
      <div><span class="gc ion-ios-location"> </span>{{multi.coordenadas}}</div>
    </li>
  </ul>
</ion-content>
