<div class="list list-inset header-top">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Procurar" ng-model="searchText">
  </label>
</div>
<ion-content overflow-scroll="false" class="header-search-top">
  <ul class="list">
    <li class="item" ng-repeat="mystery in all_mystery" ng-show="([mystery] | filter:searchText).length > 0"
        ng-click="gcGo($index, 'mystery')">
      <div><span class="gc">{{mystery.gc}}</span> - {{mystery.nome}}</div>
      <div><span class="gc ion-ios-location"> </span>{{mystery.coordenadas}}</div>
    </li>
  </ul>
</ion-content>
