<ion-content overflow-scroll="false" class="header-top">
  <div ng-show="hasInternet" class="card">
    <div class="item item-text-wrap item-map">
      <div id="the-map" data-tap-disabled="true"></div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      <a ng-click="openExternal()">
        <div class="card-title-center">{{all_mystery[mystery_index].gc}}</div>
      </a>
    </div>
    <div class="item item-text-wrap">
      <div class="card-nome-center">{{all_mystery[mystery_index].nome}}</div>
      <div class="card-nome-center">{{all_mystery[mystery_index].distrito}}</div>
      <hr>
      <div class="ion-ios-location card-icons"></div>
      <a href="geo:{{newLat}},{{newLng}}">
        <div class="card-text"> {{all_mystery[mystery_index].coordenadas}}</div>
      </a>
      <div ng-if="notes != ''">
        <hr>
        <div class="ion-document-text card-icons"></div>
        <div class="card-text"> {{all_mystery[mystery_index].notas}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-33 ion-android-contact card-icons"></div>
        <div class="col-33 card-img" ng-style="{'background-image':'url(img/'+img_name+')'}"></div>
        <a class="col-33 ion-android-call card-icons" ng-if="telf != 'nao'" href="tel:{{telf}}"></a>
      </div>
    </div>
  </div>
</ion-content>
