/* OVERRIDE */

.bar.bar-stable {
  .title {
    color: white;
    text-align: left !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.header-top.scroll-content {
  height: calc(100vh - 43px) !important;
}

.bar-main {
  background-color: darkgreen !important;
}

.bar-multi {
  background-color: #f29700 !important;
}

.bar-mystery {
  background-color: #223d91 !important;
}

.list-inset .item.item-input input {
  padding-right: 10px;
}

.item {
  font-size: 10px;
}

.ion-search:before {
  font-size: 18px;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

/* OTHERS */

.header-top {
  top: 44px;
  margin: 0;
}

.header-search-top {
  top: 90px;
}

.gc {
  font-weight: bold;
}

#the-map {
  height: 250px;
  width: 100%;
}

.item-map {
  padding: 0;
}

.card-title-center {
  text-align: center;
  font-size: 16px;
}

.card-nome-center {
  text-align: center;
  font-size: 12px;
  &:first-child {
    font-weight: bold;
    font-size: 14px;
  }
}

.card-text {
  font-size: 12px;
  text-align: center;
}

.card-icons {
  text-align: center;
  &:before {
    font-size: 20px;
  }
}

.mystery-img, .multi-img {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 200px !important;
}

.mystery-img {
  background-image: url("../img/mystery_btn.svg");
  background-color: #223d91;
}

.multi-img {
  background-image: url("../img/multi_btn.svg");
  background-color: #f29700;
}

.cards-init {
  top: 43px;
}

.card {
  margin: 10px;
}

.header-btn-home {
  margin-right: 5px;
  height: 30px;
}

.header-btn-type-back, .header-btn-type {
  position: absolute;
  top: 5px;
  bottom: 5px;
  height: 35px;
  width: 35px;
}

.header-btn-type-back {
  right: 90px;
}

.header-btn-type {
  right: 50px;
}

.header-btn-back-mystery, .header-btn-back-multi, .header-btn-mystery, .header-btn-multi {
  height: 30px;
}

.card-multi-mystery {
  height: 200px !important;
}

a {
  text-decoration: none;
}

.card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.col-33.ion-android-call.card-icons:before,
.col-33.ion-android-contact.card-icons:before{
  font-size: 50px;
}
